/* Over all page */
@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: white;
}


.slides {
  display: -ms-grid;
  display: grid;
  
}

.slides > .slide {
  grid-row: 1;
  grid-area: 1 / -1;
}

.slides > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: black;
  position: absolute;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  top: 20%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.7;
  z-index: 5;
}

.slides > button:hover {
  opacity: 1;
}

.slides > button:focus {
  outline: none;
}

.slides > button:first-child {
  left: -30%;
}

.slides > button:last-child {
  right: -30%;
}

.slideContent {
  width:190px;
  height: 190px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  opacity: 0.7;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(2rem);
  transform: translateZ(2rem);
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  padding-top: 300px;
  padding-left: 20px;
}

.slideContentInner .slideSubtitle,.slidedes,
.slideContentInner .slideTitle {
  padding: 4px;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
a:visited{
  color:black;
}
a{
  color: black;
}



.slideContentInner .slideDescription {
  padding: 8px;
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateX(calc(10% * var(--dir)));
  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}

.slide[data-active] .slideBackground {
  opacity: 0.2;
  -webkit-transform: none;
  transform: none;
}

.slide[data-active] .slideContentInner {
  opacity: 1;
}

.slide[data-active] .slideContent {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  opacity: 1;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

.slide[data-active] .slideContent:hover {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg));
  transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg));
}
/*# sourceMappingURL=App.css.map */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image-team{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
  height: 70vh;
  margin-top: 10vh;
  
}
img{
  border-radius: 20px;
  height: 70vh;
  width: 50vw;
}
h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 65px;
color: #120567;
}
.intro h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  /* color: #510994; */
  color: #120567;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100%;
  margin-top: 3.5vh;

}
/* footer - start */

.foooter{
  height: 45vh;
  width: 100%;
  background-color: #EBD8FF;
}
.text h1{
  padding-top: 4vh;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  ruby-align: center;
  color: #120567;

}
.social-icons {
  margin-top: 0px;
  padding: 0;
  list-style: none;
  margin-top: -2.0em;
  /* height: vh; */
}

.social-icons li {
  display: inline-block;
  margin: 1.15em;
  position: relative;
  font-size: 2.28em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  /* padding-bottom: 2vh; */
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 101px;
  height: 101px;
  border-radius: 100%;
  display: block;
  /* background: linear-gradient(45deg, #00f7ff, #11afd6); */
  /* background: linear-gradient(#120567); */
  background-color: #120567;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #40abc5;
  /* background: -webkit-linear-gradient(45deg, #00e1ff, #07d9e0); */
  /* background: linear-gradient(#120567); */
  background-color: #120567;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
.copyright{
  display: flex;
  height: 10vh;
  width: 100%;
  margin-top: 0vh;
  justify-content: space-evenly;
  align-items: center;
}
.left, .right{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 65px;

}
@media screen and (max-width:600px) {
  .foooter{
    height: 85vh;
  }
}


